<html>
  <style>
    body {
      font-size: 15pt;
      font-family: arial;
    }
  </style>

  <body>
    {% if user|length == 0 %}
    <form method="POST" action="/login">
      <p>
        Name: <input type="text" name="name" /> Uni:
        <input type="text" name="uni" />
        <input type="submit" value="Sign Up" />
      </p>
    </form>
    {% else %}
    <p>Welcome {{user[1]}}</p>
    {% endif %}
    <form method="POST" action="{{url_for('getarea')}}">
      <label for="areas">Choose an area in NYC you'd want to go to:</label>
      <select name="areas" id="areas">
        <option value="Times Square">Times Square</option>
        <option value="Upper East Side">Upper East Side</option>
        <option value="Williamsburg">Williamsburg</option>
        <option value="Lower East Side">Lower East Side</option>
        <option value="Chelsea">Chelsea</option>
      </select>
      <br /><br />
      <input type="submit" value="Submit" />
    </form>
    <!--
    {% include 'area.html' %} {% if itinerary is defined %}
    <div id="itinerary">
      {% if itinerary['events']|length == 0 %}
      <h5>No events planned! Reserve your spot at your favorite events!</h5>
      {%else%} {% for eventID in itinerary['events'] %}
      <h5>
        {{ events[eventID]["start_time"] }} - {{ events[eventID]["end_time"] }}
        : {{ events[eventID]["e_name"] }}
      </h5>
      {% endfor %} {% endif %} {% if itinerary['restaurants']|length == 0 %}
      <h5>
        You're not eating at any restaurant yet. Reserve your spot at your
        favorite restaurant!
      </h5>
      {%else%} {% for rname in itinerary['restaurants'] %}
      <h5>{{ restaurants[rname]["address"] }}</h5>
      {% endfor %} {% endif %}
    </div>
    {% endif %}
    -->
  </body>
</html>
